@import "tailwindcss";
/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Appliquer la police Poppins à tout le corps de l'application */
body {
  font-family: 'Poppins', sans-serif;
}

/* Définir des couleurs personnalisées en utilisant les classes de Tailwind */
.text-primary {
  color: #F97316; /* Couleur orange vif */
}

.bg-primary {
  background-color: #F97316; /* Orange vif */
}

.text-secondary {
  color: #4A4A4A; /* Gris foncé */
}

.bg-secondary {
  background-color: #4A4A4A; /* Gris foncé */
}

.text-accent {
  color: #FFED4F; /* Jaune clair */
}

.bg-accent {
  background-color: #FFED4F; /* Jaune clair */
}

/* Autres couleurs personnalisées */
.bg-background {
  background-color: #FFFFFF; /* Blanc */
}

/* Ajouter une animation de pulsation (si nécessaire) */
@keyframes pulse {
  0% {
    background-color: #f3f3f3;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f3f3f3;
  }
}

.pulse {
  animation: pulse 1.5s infinite ease-in-out;
}
